body {
    background-color: black; /* Set background color to black */
    color: white; /* Set font color to white */
    font-family: 'Chewy', cursive; /* Set font to Hallo */
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 20px;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 3rem;
    animation: fadeIn 1.5s ease-in-out, bounce 2s infinite;
}

.menu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.menu-card {
    background-color: #1c1c1c; /* Darker card background */
    border: 1px solid #333;
    border-radius: 10px;
    width: 200px;
    margin: 15px;
    text-align: center;
    padding: 10px;
    transition: transform 0.3s; /* Animation on hover */
}

.menu-card:hover {
    transform: scale(1.05); /* Scale effect on hover */
}

.menu-card img {
    width: 100%; /* Make images responsive */
    border-radius: 10px 10px 0 0;
}

.add-to-cart {
    background-color: orange; /* Orange buttons */
    color: black;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.add-to-cart:hover {
    background-color: #ff7f50; /* Lighter orange on hover */
    transform: translateY(-2px);
}

.help-container {
    display: flex;
    justify-content: space-between;
}

.nutribuddy {
    width: 50%;
}

.contact-us {
    width: 45%;
}

footer {
    text-align: center;
    padding: 20px;
}
