body {
    background-color: black;
    color: white;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 20px;
}

.banner {
    font-size: 3em;
    color: white;
    animation: fadeIn 2s;
}

.description {
    font-size: 1.5em;
    margin-top: 10px;
    font-weight: bold;
    color: white;
}

nav {
    margin-top: 20px;
}

nav a {
    color: orange;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
}

h2 {
    text-align: center;
    margin: 20px 0;
}

.menu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.menu-item {
    background-color: #222;
    border: 2px solid orange;
    border-radius: 10px;
    margin: 15px;
    padding: 10px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    width: 200px;
}

.menu-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.menu-item h3 {
    font-size: 1.5em;
}

.add-to-cart {
    background-color: orange;
    color: black;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s;
}

.add-to-cart:hover {
    background-color: yellow;
    transform: scale(1.05);
}

.menu-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0,0,0,0.5);
}

.help-container {
    display: flex;
    justify-content: space-between;
}

.nutribuddy, .contact-us {
    width: 45%;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #444;
    padding: 20px;
    border-radius: 10px;
    z-index: 1000;
}

footer {
    text-align: center;
    margin: 20px 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
